.Banner
  display flex
  align-items center
  justify-content center
  background $gray
  flex-wrap wrap
  padding 25px 1em
  font-size 22px
  &-text
    margin-right 20px

@media only screen and (max-width: 422px)
  .Banner
    &-text
      margin-bottom 16px