.BlogView
  background $gray
  text-align center
  padding 50px 0
  &.blog
    padding-top 0
  &-list
    display flex
    margin 0 auto
    margin-top 40px
    padding 0 .5em
    flex-wrap wrap
    max-width 1212px
    justify-content space-between
  &-counter
    margin .5em
    padding .5em 
    font-size 1em
    color $orange
    background white
    font-weight bold
    cursor pointer
    transition all .2s ease
    &:hover
      background $orange
      color white
    &list
      margin 1em auto
      display flex
      justify-content center

@media only screen and (max-width: 1248px)
  .BlogView
    &-list
      justify-content center
      
    