$contentWidth = 480px
.BlogHeader
  display flex
  cursor pointer
  &:hover
    border-bottom 1px solid $orange
    .BlogHeader
      &-img
        background-color rgba(252, 88, 9, 0.7) !important
        background-blend-mode overlay
  &-content
    max-width $contentWidth
    min-width 350px
    box-sizing border-box
    padding 2em
  &-img
      width calc( 100% - 480px )
      min-width 50%
      height auto
      background-size cover !important
      transition all .3s ease
  &-featured
    font-size 18px
    color $grayStrong
  &-title
    color $blue
    font-size 26px
    margin-bottom 1em
  &-description
    color $blue
    font-size 18px
    margin-bottom 1.5em
  &-autor
    display flex
    &Name
      font-size 18px
    &Description
      font-size 18px
      color $grayStrong
    img
      border-radius 50%
      margin-right 1em

@media only screen and (max-width: 750px)
  .BlogHeader
    flex-direction column
    &-img
      width 100%
      min-height 300px
    