.BlogPanel
  border 1px solid #ccc
  max-width 380px
  min-width 250px
  display flex
  flex-direction column
  flex-basis auto
  height 413px
  background white
  margin 0 .5em
  margin-bottom 1em
  cursor pointer
  
  &-img
    max-width 380px
    height 248px
    background-size cover !important
    transition all .3s ease-in-out
  &:hover
    border-color $orange
    .BlogPanel
      &-img
        background-color rgba(252, 88, 9, 0.7) !important /* Color */
        background-blend-mode overlay /* Efecto */
  
     
  &-description
    padding 1em
    text-align left
    p
      font-size 20px
      font-weight bold
      color $blue !impo
      margin-bottom 1em
    span
      color $grayStrong
  img
    max-width 100%
