$background = white
$orange = #fc580a
$heightHeader = 500px
$heightNav = 80px
$gray = #f5f5f5
$blue = #1f2d42
$lightGray = #8b8b8b
$grayStrong = #8b8b8b

*
  padding 0
  margin 0

body
  background $background
  overflow-x  hidden
  font-family: 'Open Sans', sans-serif;
  -webkit-animation: bugfix infinite 1s; 
  
ul
  list-style none
  margin 0
  padding 0

a
  text-decoration none
  color $orange
  font-weight bold
  display inline-block

button
  padding 0
  margin 0
  border none
  background transparent
  display block
  
@-webkit-keyframes bugfix { 
  from { padding: 0; } 
  to { padding: 0; } 
}


@import 'vars.styl'
@import 'Header.styl'
@import 'Nav.styl'
@import 'BlogView.styl'
@import 'BlogPanel.styl'
@import 'Register.styl'
@import 'Footer.styl'
@import 'Search.styl'
@import 'BlogHeader.styl'
