icon($URL, $width = 20px, $height = 20px, $top = 15px)
    position absolute
    top $top
    left -30px
    width $width
    height $height
    background url($URL)
    background-size 100% 100%

.Contact
  display flex
  width 100%
  &-map
    width 50%
    background #ccc
    position relative
    &Overlay
      pointer-events none
    iframe
      height 100%
      width 100%
  &Form
    box-sizing border-box
    color white
    width 50%
    padding 50px
    background $blue
    display flex
    flex-direction column
    &-title
      margin-bottom 1em
      font-size 26px
    &-phone
      font-weight bold
      line-height 28px
      position relative
      .phone
        icon("images/icono_tel.png")
        top 5px
    &-direction
      position relative
      .address
        icon("images/icono_ubicacion.png", 15px, 22px)
        top 5px
    &-button
      margin-top 10px
      max-width 110px
      display inline-block
      border-radius 10px
      font-weight bold
      cursor pointer
      transition border .3s ease-in-out
      border 1px solid $orange
      &:hover
        border 1px solid white
    &-input
      position relative
      input
        width 100%
      textarea
        width 100%
      .name
        icon("images/icono_nombre.png", 15px, 20px, 18px)
      .email
        icon("images/icono_mail.png", 20px, 15px, 20px)
      .message
        icon("images/icono_mensaje.png", 20px, 15px, 20px)
        
  p
    font-size 22px
    margin-bottom 1em

@media only screen and (max-width: 750px)
  .Contact
    flex-direction column
    &-map
      width auto
    &Form
      width auto
      padding 50px 1em
      
      &-phone
        margin-left 30px
      
      &-direction
        margin-left 30px
        
      &-input
        input, textarea
          padding-left 43px
        .name
          icon("images/icono_nombre_azul.png", 15px, 20px, 18px)
          left 15px
        .email
          icon("images/icono_mail_azul.png", 20px, 15px, 20px)
          left 15px
        .message
          icon("images/icono_mensaje_azul.png", 20px, 15px, 20px)
          left 15px
        