.Footer
  background $blue
  padding 50px 1em
  color white
  box-sizing border-box
  
  .u-wrapper
    display flex
    align-items center
    justify-content space-around
    flex-wrap wrap
    
  &-section
    max-width 400px
    font-size 18px
    min-width 300px
    text-align left
    flex 1
  &-social
    display flex
    justify-content center
    
    div
      display flex
      flex-direction column

    a 
      font-size 14px
      color white
      display flex
      align-items center
      margin-bottom .5em
    img
      margin-right .5em
  &-contact
    p
      margin-bottom 20px
  &-links
    li > a
      color white !important
      &:hover
        color $orange !important
        text-decoration none

@media only screen and (max-width: 650px)
  .Footer
    &-social
      justify-content flex-start
    &-section
      &:nth-child(2)
        margin 1em 0
