.Header
  min-height 500px
  background-color $orange
  background-image url('images/header_bg.jpg')
  background-size cover
  //background-blend-mode overlay
  color white
  padding-top 85px
  &-wrapper
    min-height 420px
    display flex
    align-items center
    justify-content center
  &-content
    text-align center
    padding 50px 1em
    box-sizing border-box
  &-title
    font-size 60px
    font-weight 800
    margin-bottom 1.5rem
  &-text
    font-size 20px
  
  &-raw
    position absolute
    left 50%
    transform translateX(-50%)
    cursor pointer


@media only screen and (max-width: 900px)
  .Header
    &-title
      font-size 50px
@media only screen and (max-width: 500px)
  .Header
    &-title
      font-size 30px
    &-text
      font-size 18px

//\u03bd
