.Items
  box-sizing border-box
  padding 50px 0
  text-align center
  &-title
    text-transform uppercase
    font-weight 800
  &-list
    padding 45px 0
    display flex
    flex-wrap wrap
    justify-content space-between
  &-item
    margin-bottom 50px
    padding 0 1em
    &Title
      font-size 26px
      margin 15px 0
    &Description
      font-size 18px
      text-align center
      max-width 400px
        
@media only screen and (max-width: 930px)
  .Items
    &-list
      justify-content center
    &-item
      &Description
        max-width 344px

@media only screen and (max-width: 910px)
  .Items
    &-item
      &:last-child
        margin-bottom 0
      &Description
        max-width 400px
