#nav
  transition: all 0.4s ease;
.Nav
  width 100%
  display flex
  border-bottom white 1px solid
  justify-content space-between
  padding 15px 2em
  box-sizing border-box
  align-items center
  position fixed
  top 0
  transition: all 0.4s ease;
  &-blog
    position static !important
  a
    color white
  
  &-list
    display flex
    font-size 14px
    align-items center
  &-item
    margin-left 30px
    text-transform uppercase
    &-b
      margin-left 30px
      text-transform uppercase
      transition:color .3s ease-in-out;
      transition:background .3s ease-in-out;
      &:hover
        background $orange
      
  &-commas
    display none
    margin-left 15px
  
  &-links
    display flex
    align-items center
  
  input[type=checkbox] 
    position absolute
    top -9999px
    left -9999px

  &-label 
    cursor pointer
    user-select none
    display: none
  
  &-sticky
    background white
    border-bottom 1px solid $orange !important
    z-index 1
    color $orange !important
    transition color .5s ease-in-out
    .Nav
      transition all .5s ease
      
      &-item
        a
          color $orange
          &:hover
            color black
    
    
    .Nav
      &-label
        color $orange !important
      &-item-b
        color $orange !important
        border-color $orange !important
        text-decoration none
        &:hover
          color white !important

@media only screen and (max-width: 768px)
  nav[role="dropdown"]
    padding .5em 1em
    
    .Nav
      transition all .5s ease
      &-item
        display none
      &-list
        display none
        transition:color .5s ease-in-out;
      &-responsive
        display flex
        align-items center
      &-label
        order 3
        position relative
        display block
        color:white;
        text-decoration:none;
        font-size 50px
        transition:color .3s ease-in-out;
        margin-left 16px
        &:hover
          color white
        &:after
          content "\2261"
    input
      &:checked
        & ~ .Nav-list
          display flex
          position absolute
          background rgba(255, 255, 255, 0.9)
          flex-direction column
          top 82px
          left 0
          width 100%
          z-index 1
          .Nav-item
            display block
            width 100%
            padding 10px
            text-align center
            margin 0
            border-bottom 1px solid white
            a
              color $orange
              

@media only screen and (max-width: 500px)
  .Nav
    &-brand
      height 37px !important
      width auto !important
