.PostAuthor
  display flex
  padding 0 1em
  margin-bottom 2em
  align-items center
  justify-content center
  img
    border-radius 50%
    margin-right 1em
  &-name
    color $orange
    font-weight bold
    font-size 18px
  &-description
    max-width 400px
    color $grayStrong