.Post
  position relative
  &-wrapper
    max-width 780px
    margin 0 auto
    box-sizing border-box
  &-header
    position relative
    min-height 415px
    background-size cover !important
    &Content
      max-width 780px
      box-sizing border-box
      position absolute
      bottom 0
      background rgba(255, 255, 255, 0.9)
      padding 2em
  &-title
    font-size 26px
    font-weight bold
    color $blue
  &-info
    display flex
  &-autor
    font-size 14px
    color $orange
    font-weight bold
  &-date
    color $grayStrong
    font-size 15px
    margin-left 1em
    line-height 19px
  &-content
    padding 2em
    
    img
      width 100% !important
      margin 1em 0
    
    h1
      font-size 26px
      font-weight bold
      margin 1em 0
      color $blue
