.Register
  padding 25px 1em
  &-form
    display flex
    justify-content center
    align-items center
    flex-wrap wrap
    
  &-inputs
    display flex
    flex-wrap wrap
  p
    font-size 18px
    color $blue
    font-weight 600
    
  &-input
    font-size 18px
    min-width 280px
    margin-left 16px
    justify-content center
  
  &-button
    margin 10px
    max-width 150px

@media only screen and (max-width: 640px)
  .Register
    &-inputs
      width 100%
      flex-direction column
    &-input
      margin-left 0