.Search
  background $gray
  padding 1em
  .u-wrapper
    max-width 1180px
  &-content
    padding-bottom 1em
    display flex
    align-items center
    width 100%
    border-bottom 1px solid #ccc
    justify-content space-between
    flex-wrap wrapdisplay block
  &-form
    display flex
    align-items center
  &-input
    background white
    font-size 18px
    min-width 280px
    justify-content center
  &-text
    font-size 26px
    color $blue
    font-weight lighter
  &-button
    margin-left 1em
    background $orange
    border none

@media only screen and (max-width: 700px)
  .Search
    &-content
      flex-direction column
@media only screen and (max-width: 500px)
  .Search
    &-content
      flex-direction column
    &-input
      min-width 210px
