.Testimonies
  padding 50px 1em
  box-sizing border-box
  &-title
    text-align center
    font-size 26px
    font-weight 800
  &-list
    display flex
    margin-top 40px
    flex-wrap wrap
    justify-content center
  &-testimony
    padding 15px
    max-width 300px
    position relative
  &-coma
    position absolute
    left -15px
    top 20px
    width 20px
    height 18px
    background url("images/comillas.png")
    background-size contain
  &-cite
    text-align left
    font-style italic
  &-person
    margin-top .5em
    display flex
    &Name
      font-weight bold
      font-size 18px
      color $orange
    &Profession
      color $lightGray
      font-size 18px
  &-photo
    border-radius 50%
    margin-right 1em
    