$background = white
$orange = rgb(255, 82, 2)
$heightHeader = 500px
$heightNav = 90px
$blue = #1f2d42
a
  &:hover
    text-decoration underline

input,
textarea
  &:focus
    border 1px solid $orange !important
    outline none

.u-wrapper
  max-width 1000px
  position relative
  margin 0 auto

.u-button
  box-sizing border-box
  padding .5em
  border 2px white solid
  text-transform uppercase
  font-size 14px
  border-radius 10px
  display inline-block
  cursor pointer
  &-orange
    border-color $orange
    color $orange
    transition color .3s ease-in-out
    transition background .3s ease-in-out
    &:hover
      color white !important
      background $orange
      text-decoration none
    
  &-orange_b
    border none
    background $orange
    color white
.u-input
  border-radius 10px
  padding 10px
  font-size 18px
  border 1px solid transparent
  margin 10px 0

.u-input_b
  border-radius 10px
  padding 10px
  border 1px #ccc solid
  margin 10px 0
  background $gray
  
.u-title
  font-size 26px
  color $blue
  text-align center
  font-weight 800